<div class="container mt-5" style="margin-top: 110px !important">
    <div class="card shadow-lg">
        <div class="card-header text-white bg-primary">
            <h2 class="mb-0">Registration</h2>
        </div>
        <div class="card-body">
            <form (ngSubmit)="register()" [formGroup]="registrationForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password" required>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px !important;">Registruj se</button>
            </form>
        </div>
    </div>
</div>
