<div class="container mt-5" style="margin-top: 110px !important">
    <div class="card shadow-lg">
      <div class="card-header text-white bg-primary">
        <h2 class="mb-0">Forgot Password</h2>
      </div>
      <div class="card-body">
        <form (ngSubmit)="forgotPassword()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required />
          </div>
          <button type="submit" class="btn btn-primary mt-3">Send Reset Email</button>
        </form>
      </div>
    </div>
  </div>
  