<div class="container mt-4">
    <h2>Task members</h2>
    <table class="table" *ngIf="users.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button class="btn btn-danger" (click)="removeUser(user.id)" *ngIf="isUserManager()">Remove user</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="users.length === 0">No users for this task.</p>
       <!-- Dugme za dodavanje korisnika -->
      <button class="btn btn-primary mt-3" (click)="showAddUserForm = true" *ngIf="isUserManager()">Add User to Task</button>

      <!-- Forma za dodavanje korisnika -->
  <div *ngIf="showAddUserForm" class="mt-4">
    <h4>Add user to task</h4>
    <div class="form-group">
      <label for="userSelect">Choose user:</label>
      <select class="form-control" id="userSelect" [(ngModel)]="selectedUserId">
        <option *ngFor="let user of projectUsers" [value]="user.id">{{ user.username }}</option>
      </select>
    </div>
    <button class="btn btn-success mt-2" (click)="addUserToTask()">Add User</button>
    <button class="btn btn-secondary mt-2 ml-2" (click)="showAddUserForm = false">Cancel</button>
  </div>
  </div>
  