<div class="container mt-5" style="margin-top: 110px !important">
    <div class="card shadow-lg">
        <div class="card-header text-white bg-primary">
            <h2 class="mb-0">Account Verification</h2>
        </div>
        <div class="card-body">
            <form (ngSubmit)="verify()" [formGroup]="verificationForm">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" required>
                </div>
                <div class="form-group">
                    <label for="verificationCode">Verification Code</label>
                    <input type="text" class="form-control" id="verificationCode" formControlName="verificationCode" required>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px !important;">Verify</button>
            </form>
        </div>
    </div>
</div>
