<div class="container text-center mt-5">
    <div class="card p-5">
      <h1 class="display-4 mb-4">Welcome to Trello Project <i class="bi bi-kanban"></i></h1>
      <p class="lead">Manage your projects with ease. Please log in or register to get started.</p>
      <div class="mt-4" *NgIf="!isLoggedIn()">
        <a routerLink="login" class="btn btn-primary btn-lg me-3" >Login</a>
        <a routerLink="registration" class="btn btn-secondary btn-lg" >Register</a>
      </div>
    </div>
  </div>
  