<div class="container mt-4">
  <h2>Task List</h2>
  <table class="table" *ngIf="tasks.length > 0">
    <thead>
      <tr>
        <th>Task name</th>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
        <th>Actions</th> <!-- Kolona za akcije -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.startDate | date }}</td>
        <td>{{ task.endDate | date }}</td>
        <td>{{ task.status }}</td>
        <td>
          <!-- Dugme koje vodi na stranicu za listu korisnika -->
          <button class="btn btn-primary" [routerLink]="['/task-users', task.id]">Show members</button>
          <button class="btn btn-secondary" *ngIf="isUserManager()" [routerLink]="['/task-status', task.id]">Change status</button>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="tasks.length === 0">No tasks for the project</p>

  <!-- Dugme za dodavanje novog zadatka -->
  <button class="btn btn-success mt-3" [routerLink]="['/add-task', projectId]" *ngIf="isUserManager()">Add task</button>
</div>