<div class="container mt-4">
    <h2>Project list:</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Project name</th>
          <th>End date</th>
          <th>Min members</th>
          <th>Max members</th>
          <th>Active</th>
          <th>Created at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{ project.name }}</td>
          <td>{{ project.endDate | date }}</td>
          <td>{{ project.minMembers }}</td>
          <td>{{ project.maxMembers }}</td>
          <td>{{ project.isActive ? 'Da' : 'Ne' }}</td>
          <td>{{ project.createdAt | date }}</td>
          <td>
            <button class="btn btn-info" [routerLink]="['/project-details', project.id]">Show details</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" *ngIf="isUserManager()" routerLink="create-project">Add Project</button>
  </div>
  